.reset{
    padding-top: 50px;
}

.card > h2{
    margin-bottom: 16px;
}

.form_div > p{
    margin-bottom: 44px;
}

.form > h2{
    text-align: left;
    margin-bottom: 8px;
}

.form input{
    border-right: 1px solid #DFE1E6;
}

.form button{
    background-color: #0052CC;
}

.success .check{
    margin-top: 12px;
    margin-bottom: 40px;
}

.success > p{
    margin-bottom: 40px;
    font-size: 16px;
}
